<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | FreeFinance</title>
    <!-- Tailwind CDN -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Font class stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/font-styles.css') }}"
    />
    <!-- Custom CSS stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body
    class="h-screen bg-[#2148C0] bg-[url('/static/images/login-bg.svg')] bg-no-repeat bg-cover bg-center bg-top flex items-center justify-center"
  >
    <!-- Card -->
    <div
      class="login-card w-[500px] flex flex-col gap-8 items-center justify-center"
    >
      <div class="flex items-end">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="FreeFinance logo"
          width="25px"
        />
        <h1 class="text-[20px] text-white poppins-medium">FREE FINAANCE</h1>
      </div>
      <form method="POST" action="/" class="flex flex-col gap-5">
        <div class="flex border border-white rounded p-2 gap-2 w-[400px]">
          <img src="{{ url_for('static', filename='images/name.svg') }}" />
          <input
            type="text"
            name="name"
            id="name"
            class="poppins-regular text-white text-[16px] w-full focus:outline-none"
            placeholder="NAME"
            required
          />
        </div>
        <div class="flex border border-white rounded p-2 gap-2 w-[400px]">
          <img
            src="{{ url_for('static', filename='images/phone.svg') }}"
            width="20"
            height="20"
          />
          <input
            type="tel"
            id="mobile"
            name="mobile"
            placeholder="PHONE NUMBER"
            class="poppins-regular text-white text-[16px] w-full focus:outline-none"
            required
            pattern="[0-9]{10}"
          />
        </div>
        <button
          class="bg-white text-[16px] poppins-regular text-[#2148C0] cursor-pointer py-3 rounded mt-10 shadow-[0px_4px_4px_0px_rgba(0,0,0,0.3)] hover:shadow-[0px_8px_8px_0px_rgba(0,0,0,0.3)] transition-all"
          type="submit"
        >
          LOGIN
        </button>
      </form>
    </div>
  </body>
</html>
